*.exe
*.dll
*.o
*.res
*.bat
*.sh
*.cbp
*.depend
*.layout
*.ogg
*.spc
*.dat
*.sublime-project
*.sublime-workspace
client/bin/*
client/utils/resource_pack
client/utils/resource_unpack
server/bin/*

