#include "../include/resources.h"

IDI_ICON1 ICON "icon.ico"
IDB_ICON2 PNG "icon.png"
IDB_TILESET_1 PNG "tileset_1.png"
IDB_TILESET_2 PNG "tileset_2.png"
IDB_EXPLOSIONS PNG "explosions.png"
IDB_ITEMS PNG "items.png"
IDB_PLAYERS PNG "players.png"
IDB_TEXT PNG "text.png"
