#include "../include/resources.h"

IDI_ICON1 ICON "icon.ico"

IDB_ICON2 PNG "icon.png"
IDB_TILESET_1 PNG "tileset_1.png"
IDB_TILESET_2 PNG "tileset_2.png"
IDB_TILESET_3 PNG "tileset_3.png"
IDB_TILESET_4 PNG "tileset_4.png"
IDB_EXPLOSIONS PNG "explosions.png"
IDB_ITEMS PNG "items.png"
IDB_PLAYERS PNG "players.png"
IDB_TEXT PNG "text.png"

IDM_BATTLE OGG "sound/ogg/sbm-12.ogg"

IDW_PLANT WAV "sound/plant.wav"
IDW_EXPLODE WAV "sound/explode.wav"
IDW_PICKUP WAV "sound/pickup.wav"
IDW_SKULL WAV "sound/skull.wav"
IDW_DEATH WAV "sound/death.wav"
IDW_PUNCH WAV "sound/punch.wav"
IDW_SLIDE WAV "sound/slide.wav"
IDW_HARDHIT WAV "sound/hardhit.wav"
IDW_BOUNCE WAV "sound/bounce.wav"
IDW_JUMP WAV "sound/jump.wav"
